exportPattern("^[[:alpha:]]+")

## Data manipulation ----
importFrom(readxl, read_excel)
import(stringr)
import(dplyr)
import(tidyverse)
import(tidyr)
importFrom(magrittr, `%>%`)
importFrom(DT, DTOutput, renderDT, datatable)
import(purrr)
importFrom(readr, write_csv, read_csv)
importFrom(cowplot, plot_grid)

## Visualization ----
import(ggplot2)
importFrom(geomtextpath, geom_textline)

## Shiny ----
import(shiny)
importFrom(bslib, layout_columns, sidebar, nav_panel, navset_card_pill, 
           page_fluid, page_navbar, nav_spacer, nav_item, card)
